<!-- Header Top Start -->
<div class="header-top-nav">
    <div class="container">
        <div class="row">
            <!--Left Start-->
            <div class="col-lg-4 col-md-4">
                <div class="left-text">
                    <p>Welcome you to Ecolife store!</p>
                </div>
            </div>
            <!--Left End-->
            <!--Right Start-->
            <div class="col-lg-8 col-md-8 text-right">
                <div class="header-right-nav">
                    <ul class="res-xs-flex">
                        <li class="after-n">
                            <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Wishlist (0)</a>
                        </li>
                        <li>
                            <a href="/logout"><i class="ion-log-out"></i>Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Right End-->
        </div>
    </div>
</div>
<!-- Header Top End -->