<!-- Scripts to be loaded  -->
<!-- JS ============================================ -->

<script src="/public/frontend/assets/js/vendor/vendor.min.js"></script>
<script src="/public/frontend/assets/js/plugins/plugins.min.js"></script>

<!-- Main Activation JS -->
<script src="/public/frontend/assets/js/main.js"></script>
<script src="/public/frontend/assets/js/custom.js"></script>
</body>

</html>