    <!-- Scripts to be loaded  -->
    <!-- JS ============================================ -->

    <!-- vendors -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.2/jquery-migrate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- plugins -->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/public/frontend/assets/js/plugins/meanmenu.js"></script>
    <script src="/public/frontend/assets/js/plugins/owl-carousel.js"></script>
    <script src="/public/frontend/assets/js/plugins/jquery.nice-select.js"></script>
    <script src="/public/frontend/assets/js/plugins/countdown.js"></script>
    <script src="/public/frontend/assets/js/plugins/elevateZoom.js"></script>
    <script src="/public/frontend/assets/js/plugins/scrollup.js"></script>

    <!-- <script src="/public/frontend/assets/js/vendor/vendor.min.js"></script> -->
    <!-- <script src="/public/frontend/assets/js/plugins/plugins.min.js"></script> -->

    <!-- icofont -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Main Activation JS -->
    <script src="/public/frontend/assets/js/main.js"></script>
    <script src="/public/frontend/assets/js/custom.js"></script>
</body>

</html>