<% if (message.error) { %>
    <div class="alert alert-danger"><%= message.error[0] %></div>
<% } else if (message.warning) { %>
    <div class="alert alert-warning"><%= message.warning[0] %></div>
<% } else if (message.info) { %>
    <div class="alert alert-info"><%= message.info[0] %></div>
<% } %>