
<div class="rating-product">
    <% for (let i = 1; i <= 5; i++) { %>

        <% if (i <= rating) { %>
            <i class="fas fa-star"></i>
        <% } else { %>
            <i class="far fa-star"></i>
        <% } %>
    <% } %>
    <% if (text > 0) {%>
        (<%= text %>)
    <% } %>
</div>
