<%- include('../includes/head', {title: title}) %>

    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <%- include(`../${page}`) %>
    </div>
    <!--end::Main-->

<%- include('../includes/end', {path: path}) %>