<%- include('../includes/head', { title: title }) %> 

<div id="main">
    <!-- Header Start -->
    <header class="main-header home-2">
        <%# include('../components/navbar/top-nav') %> 
        <%# include('../components/navbar/main-nav') %> 
    </header>
    <!-- Header End -->

    <%- include(`../${page}`) %> 
</div>

<%- include('../components/modals/productModal') %> 

<%- include('../includes/end', { path: path }) %> 