<!-- Banner Area Start -->
<div class="banner-area home-2">
    <div class="container">
        <div class="row">
            <% ads.forEach(ad => { %>
                <% if (ad.imageSize === 'large') { %>
                    <div class="col-md-6 col-xs-12 mt-res-sx-30px">
                        <div class="banner-wrapper banner-box">
                            <a href="/category/<%= ad.slug %>"><img src="<%= ad.image %>" alt="" /></a>
                        </div>
                    </div>
                <% } else { %>
                    <div class="col-md-3 col-xs-12">
                        <div class="banner-wrapper banner-box">
                            <a href="/category/<%= ad.slug %>"><img src="<%= ad.image %>" alt="" /></a>
                        </div>
                    </div>
                <% } %>
                
            <% }) %>
        </div>
    </div>
</div>
<!-- Banner Area End -->