<div class="social-info">
    <ul>
        <li>
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        </li>
        <li>
            <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        </li>
        <li>
            <a href="#"><ion-icon name="logo-google"></ion-icon></a>
        </li>
        <li>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
        </li>
    </ul>
</div>